.search-form {
    position: relative;
    width: 280px;
    margin: 0 auto;
    @include tablet {
        width: 336px;
    }
    
}

.search-form__input {
    width: 100%;
    height: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid rgba(255, 255, 255, 1);    
    color: rgba(255, 255, 255, 1);
}
.search-form__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
    height: 90%;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: transparent;

    &:before {
        content: '\f002';
        font-family: FontAwesome;
        font-size: 12px;
        color: white;
    }

    &:hover:before,
    &:focus:before {
        color: rgba(255, 107, 1, 1);
    }
}

.search-form__input::placeholder {
    font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
}