.card {
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;    
    min-height: 398px;
    max-width: 280px;
    @include desktop {
        width: calc((100%/3) - 16px);
    }
}
.card:hover,
.card:focus {
    box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
}

#main {
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card:hover .img{
    scale: 1.04;
}
.img {
    position: relative;
    overflow: hidden;
    height: 398px;
}
.img img{
    position: absolute;
    border-radius: 5px;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    top: 0;
    @include desktop {
    min-height: 664px;
    }
}


.movie-name{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
    min-width: 402px;
    @include desktop {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 12px;
    }
}

.info {
    padding-top: 8px;
}
.single-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    color: #FF6B08;    
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    @include desktop {
    font-size: 17px;
    line-height: 24px;
    }
}

.movies-grid {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    @include desktop {
    gap: 32px 16px;
    }
}
.movies-container {
    padding: 20px;
    @include desktop {
        padding: 60px 32px;
    }
}

.info-span{
    margin-right: 5px;
    margin-left: 5px;
}
.genre-li:nth-child(2){
    margin-left: 5px;
}
.movies-grid:nth-last-child(n){
    margin-bottom: 20px;
}