.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-bottom: 20px;
}

.pagination-btn{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    font-size: 11px;
    line-height: 16px;
    cursor: pointer;
    border-radius: 5px;
    @include desktop {
    width: 40px;
    height: 40px;
    font-size: 12px;
    padding: 0 10px;
}
}

.start-page-btn {
    background-image: url(./images/d-arrow-left.svg);
    background-size: 19px 22px;
    background-repeat: no-repeat;
    background-position: center;
    @include desktop {
        background-size: 23px 26px;
    }
}

.previous-page-btn {
    background: url(./images/arrow-left.svg) no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
    @include desktop {
    width: 40px;
    height: 40px;
    }
}
.next-page-btn{
    background: url(./images/arrow-right.svg) no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
    @include desktop {
    width: 40px;
    height: 40px;
    }
}
.end-page-btn {
    background-image: url(./images/d-arrow-right.svg);
    background-size: 19px 22px;
    background-repeat: no-repeat;
    background-position: center;
    @include desktop {
        background-size: 23px 26px;
    }
}
.pagination-container button.active{
    background-color: rgba(255, 107, 8, 1);
    color: white;
}
.pagination-btn:hover {
    background-color: rgba(255, 107, 8, 1);
    color: white;
}
